# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/
docs/log/
docs/data/
docs/.tmp_data/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
.venv/
venv/
ENV/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject

.idea
.project
.pydevproject
.spyderworkspace
.vscode